:host {
  display: flex;
  flex-direction: column;
}

.info {
  display: inline-flex;
  gap: 8px;
  .name {
    color: var(--p-text-color);
  }

  .type {
    color: var(--p-text-muted-color);
  }

  .h-divider {
    width: 1px;
    background: var(--p-surface-300);
  }

  .prop-action,
  .h-divider {
    opacity: 0;
  }

  &:hover .prop-action,
  &:hover .h-divider {
    opacity: 100;
  }
}

.child {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 12px;
  margin-top: 8px;
  margin-left: 4px;
  border-left: 1px var(--p-content-color) solid;
}

.add-prop-button {
  font-family: Arial, Helvetica, sans-serif;
}
