<div class="info">
  <button class="unstyled name" (click)="rename.toggle($event)">
    {{ property().name }}
  </button>
  <button class="unstyled type" (click)="retype.toggle($event)">
    :{{ typeString() }}
  </button>

  @if (showArrayOfArrayWarning()) {
    <p-message size="small" severity="warn" icon="pi pi-exclamation-triangle">
      Arrays of arrays are not fully supported.
      <u
        pTooltip="Certain features like the inline object/enum editor will not work"
        >What does this mean?</u
      >
    </p-message>
  }

  <div class="h-divider"></div>

  <p-button
    link="true"
    class="prop-action"
    styleClass="link-button danger"
    size="small"
    (click)="onDeleteProperty()"
    >Delete</p-button
  >
</div>

@if (this.hasChildProperties()) {
  <div class="child">
    @for (prop of childProperties(); track prop.name) {
      <app-property
        [existingPropertyNames]="childPropertyNames"
        [existingSchemaLookup]="existingSchemaLookup()"
        [property]="prop"
        (propertyUpdated)="onChildPropertyUpdated($event)"
      ></app-property>
    }

    @if (canAddChildProperties()) {
      @if (addMode()) {
        <app-add-property
          [existingPropertyNames]="childPropertyNames"
          [existingSchemaLookup]="existingSchemaLookup()"
          (propertyAdded)="onChildPropertyAdded($event)"
          (stoppedAddingProperties)="addMode.set(false)"
        ></app-add-property>
      } @else {
        <p-button
          label="Add Property"
          class="add-prop-button"
          icon="pi pi-plus"
          size="small"
          (click)="addMode.set(true)"
        ></p-button>
      }
    }
  </div>
}

@if (this.hasEnumValues()) {
  <div class="child">
    @for (value of enumValues(); track value.name) {
      <app-enum-entry
        [entry]="value"
        [enumType]="enumType()"
        [existingEntryNames]="enumValueNames"
        [existingEntryValues]="enumValueKeys"
        (entryUpdated)="onEnumEntryUpdated($event)"
      ></app-enum-entry>
    }

    @if (canAddEnumValues()) {
      @if (addMode()) {
        <app-add-enum-entry
          [enumType]="enumType()"
          [existingEntryNames]="enumValueNames"
          [existingEntryValues]="enumValueKeys"
          (entryAdded)="onEnumEntryAdded($event)"
          (stoppedAddingEntries)="addMode.set(false)"
        ></app-add-enum-entry>
      } @else {
        <p-button
          label="Add Entry"
          class="add-prop-button"
          icon="pi pi-plus"
          size="small"
          (click)="addMode.set(true)"
        ></p-button>
      }
    }
  </div>
}

<p-popover #rename>
  <app-rename-property
    [existingPropertyNames]="existingPropertyNames()"
    (renameComplete)="onRenameProperty($event)"
  ></app-rename-property>
</p-popover>

<p-popover #retype>
  <app-retype-property
    [existingSchemaLookup]="existingSchemaLookup()"
    [existingProperty]="property()"
    (retypeComplete)="onRetypeProperty($event)"
  ></app-retype-property>
</p-popover>
