<div class="info">
  <span class="name">{{ property().name }}</span>
  <span class="type">:{{ typeString() }}</span>

  @if (showArrayOfArrayWarning()) {
    <p-message size="small" severity="warn" icon="pi pi-exclamation-triangle">
      Arrays of arrays are not fully supported.
      <u pTooltip="Certain features like the inline object editor will not work"
        >What does this mean?</u
      >
    </p-message>
  }

  <div class="h-divider"></div>

  <p-button
    link="true"
    class="prop-action"
    styleClass="link-button"
    size="small"
    (click)="rename.toggle($event)"
    >Rename</p-button
  >

  <p-button
    link="true"
    class="prop-action"
    styleClass="link-button danger"
    size="small"
    (click)="onDeleteProperty()"
    >Delete</p-button
  >
</div>

@if (this.hasChildProperties()) {
  <div class="child">
    @for (prop of childProperties(); track prop.name) {
      <app-property
        [existingPropertyNames]="childPropertyNames"
        [property]="prop"
        (propertyUpdated)="onChildPropertyUpdated($event)"
      ></app-property>
    }

    @if (canAddChildProperties()) {
      @if (addMode()) {
        <app-add-property
          [existingPropertyNames]="childPropertyNames"
          (propertyAdded)="onChildPropertyAdded($event)"
          (stoppedAddingProperties)="addMode.set(false)"
        ></app-add-property>
      } @else {
        <p-button
          label="Add Property"
          class="add-prop-button"
          icon="pi pi-plus"
          size="small"
          (click)="addMode.set(true)"
        ></p-button>
      }
    }
  </div>
}

<p-popover #rename>
  <app-rename-property
    [existingPropertyNames]="existingPropertyNames()"
    (renameComplete)="onRenameProperty($event)"
  ></app-rename-property>
</p-popover>
