@if (loading()) {
  loading...
} @else {
  <h1>{{ schema().name }}</h1>
  <p-toolbar>
    <ng-template #start
      ><div class="status-section">
        <span>{{
          schema().properties.length | plural: "Property" : "Properties"
        }}</span>
        <span>•</span>
        <span>
          @switch (saveState()) {
            @case ("noChange") {
              Modified {{ schema().modified | date }}
            }
            @case ("unsaved") {
              Unsaved changes
            }
            @case ("saving") {
              Saving...
            }
            @case ("saved") {
              Saved {{ schema().modified | timeAgo }}
            }
          }
        </span>
      </div></ng-template
    >
    <ng-template #end>
      <p-button
        icon="pi pi-undo"
        text="true"
        ariaLabel="Undo"
        [pTooltip]="undoTip"
        tooltipPosition="top"
        showDelay="500"
        [disabled]="!canUndo()"
        (click)="onUndo()"
      ></p-button>
      <p-button
        icon="pi pi-undo flip-horizontal"
        text="true"
        ariaLabel="Redo"
        [pTooltip]="redoTip"
        tooltipPosition="top"
        showDelay="500"
        [disabled]="!canRedo()"
        (click)="onRedo()"
      ></p-button>
      <p-button
        icon="pi pi-download"
        text="true"
        ariaLabel="Download schema"
        pTooltip="Download schema"
        showDelay="500"
        (click)="onExportToJsonSchema()"
      ></p-button>
    </ng-template>
  </p-toolbar>

  <div class="schema-canvas">
    @for (prop of schema().properties; track prop.name) {
      <app-property
        [existingPropertyNames]="propertyNames"
        [existingSchemaLookup]="allSchemaLookup"
        [property]="prop"
        (propertyUpdated)="onPropertyUpdated($event)"
      ></app-property>
    }

    @if (addMode()) {
      <app-add-property
        [existingPropertyNames]="propertyNames"
        [existingSchemaLookup]="allSchemaLookup"
        (propertyAdded)="onPropertyAdded($event)"
        (stoppedAddingProperties)="addMode.set(false)"
      ></app-add-property>
    } @else {
      <p-button
        label="Add Property"
        icon="pi pi-plus"
        (click)="addMode.set(true)"
      ></p-button>
    }
  </div>

  <ng-template #undoTip>Undo (<kbd>Ctrl</kbd> + <kbd>z</kbd>)</ng-template>
  <ng-template #redoTip>Redo (<kbd>Ctrl</kbd> + <kbd>y</kbd>)</ng-template>
}
