@if (loading()) {
  loading...
} @else {
  <div class="namecard">
    <h1>{{ schema().name }}</h1>
    @if (
      schema().metadata &&
      (schema().metadata!.deprecated || schema().metadata!.description)
    ) {
      <div class="metadata">
        @if (schema().metadata!.deprecated) {
          <p-tag severity="danger" value="Deprecated"></p-tag>
        }

        <p>{{ schema().metadata!.description }}</p>
      </div>
    }
  </div>
  <p-toolbar>
    <ng-template #start
      ><div class="status-section">
        <span>{{
          schema().properties.length | plural: 'Property' : 'Properties'
        }}</span>
        <span>•</span>
        <!-- TODO add a dropdown here to quickly go to references -->
        @if (this.schemaReferences().length) {
          <span
            >Referenced by
            {{ this.schemaReferences().length | plural: 'schema' }}</span
          >
          <span>•</span>
        }
        <span>
          @switch (saveState()) {
            @case ('noChange') {
              Modified {{ schema().modified | date: 'medium' }}
            }
            @case ('unsaved') {
              Unsaved changes
            }
            @case ('saving') {
              Saving...
            }
            @case ('saved') {
              Saved {{ schema().modified | timeAgo }}
            }
          }
        </span>
      </div></ng-template
    >
    <ng-template #end>
      <p-button
        icon="pi pi-undo"
        text="true"
        ariaLabel="Undo"
        [pTooltip]="undoTip"
        tooltipPosition="top"
        showDelay="500"
        [disabled]="!canUndo()"
        (click)="onUndo()"
      ></p-button>
      <p-button
        icon="pi pi-undo flip-horizontal"
        text="true"
        ariaLabel="Redo"
        [pTooltip]="redoTip"
        tooltipPosition="top"
        showDelay="500"
        [disabled]="!canRedo()"
        (click)="onRedo()"
      ></p-button>
      <p-button
        icon="pi pi-sliders-h"
        text="true"
        ariaLabel="Edit Metadata"
        pTooltip="Edit Metadata"
        tooltipPosition="top"
        showDelay="500"
        (click)="metadataVisible.set(true)"
      ></p-button>
      <p-button
        icon="pi pi-download"
        text="true"
        ariaLabel="Download schema"
        pTooltip="Download schema"
        showDelay="500"
        (click)="onExportToJsonSchema()"
      ></p-button>
    </ng-template>
  </p-toolbar>

  <div class="schema-canvas">
    @for (prop of schema().properties; track prop.name) {
      <app-property
        [existingPropertyNames]="propertyNames"
        [existingSchemaLookup]="allSchemaLookup"
        [enumLookup]="allEnumLookup"
        [property]="prop"
        (propertyUpdated)="onPropertyUpdated($event)"
      ></app-property>
    }

    @if (addMode()) {
      <app-add-property
        [existingPropertyNames]="propertyNames"
        [existingSchemaLookup]="allSchemaLookup"
        [enumLookup]="allEnumLookup"
        (propertyAdded)="onPropertyAdded($event)"
        (stoppedAddingProperties)="addMode.set(false)"
      ></app-add-property>
    } @else {
      <p-button
        label="Add Property"
        icon="pi pi-plus"
        (click)="addMode.set(true)"
      ></p-button>
    }
  </div>

  <ng-template #undoTip>Undo (<kbd>Ctrl</kbd> <kbd>z</kbd>)</ng-template>
  <ng-template #redoTip>Redo (<kbd>Ctrl</kbd> <kbd>y</kbd>)</ng-template>

  <p-dialog
    header="Schema Metadata"
    modal="true"
    dismissableMask="true"
    [(visible)]="metadataVisible"
  >
    <app-metadata-editor
      [metadata]="schema().metadata"
      (metadataUpdated)="onMetadataUpdated($event)"
    ></app-metadata-editor>
  </p-dialog>
}
