:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.namecard {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;

  .metadata {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: start;
    padding-left: 16px;
    border-left: 2px var(--p-content-border-color) solid;
    min-height: 50px;
    p {
      margin: 0;
      color: var(--p-text-muted-color);
    }
  }
}

.status-section {
  gap: 8px;
  display: inline-flex;
}

.schema-canvas {
  font: 16px monospace;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  overflow-y: auto;
  flex: 1;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--p-primary-400);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  p-button {
    font-family: Arial, Helvetica, sans-serif;
  }
}
