<p-panel>
  <ng-template #header>
    <div class="panel-item">
      <span class="header">{{ entity() }}</span>
      <p-button
        icon="pi pi-plus"
        text="true"
        [ariaLabel]="'Create ' + entity().slice(0, -1)"
        [pTooltip]="'Create ' + entity().slice(0, -1)"
        tooltipPosition="top"
        showDelay="500"
        (click)="create.toggle($event)"
      ></p-button>
    </div>
  </ng-template>
  @for (item of items$ | async; track item.id) {
    <a
      [routerLink]="[entity(), item.id]"
      routerLinkActive="selected"
      class="unstyled panel-item hover"
      [class.selected-alt]="item.id === activeMenuItemId()"
      (click)="(true)"
    >
      <span class="name">{{ item.name }}</span>
      <p-button
        icon="pi pi-ellipsis-h"
        text="true"
        ariaLabel="Actions"
        pTooltip="Actions"
        tooltipPosition="top"
        showDelay="500"
        (click)="onOpenActionMenu(item.id, actionMenu, $event)"
      ></p-button>
    </a>
  } @empty {
    <div class="empty">
      <i class="pi pi-search"></i>
      <span>Nothing to see here...</span>
    </div>
  }

  @if ((count$ | async)! > this.maxItems()) {
    <div class="count">
      Showing {{ this.maxItems() }} of {{ count$ | async }}
      <i
        class="pi pi-question-circle"
        pTooltip="To save screen space, only the most recent entries are shown. Use search to access entries not in this list."
      ></i>
    </div>
  }
</p-panel>

<p-menu
  #actionMenu
  [model]="actionMenuItems"
  popup="true"
  (onHide)="activeMenuItemId.set(undefined)"
></p-menu>
<p-popover #create>
  <p-inputgroup>
    <input
      id="name"
      type="text"
      pInputText
      placeholder="Name"
      [formControl]="nameControl"
      (keydown.enter)="onCreate(create)"
    />
    <p-button
      icon="pi pi-plus"
      label="Create"
      [disabled]="!nameControl.valid"
      (click)="onCreate(create)"
    ></p-button>
  </p-inputgroup>

  @if (nameControl.errors && nameControl.errors["duplicate"]) {
    <small id="name-help" class="invalid"
      >A {{ entity().slice(0, -1) }} with this name already exists</small
    >
  }
</p-popover>
