<input
  #name
  pInputText
  placeholder="Name"
  [formControl]="nameFormControl"
  (keydown)="onNameKeydown($event)"
  (blur)="onBlur()"
/>
=
<input
  #value
  pInputText
  placeholder="Value"
  [type]="enumType() === 'int' ? 'number' : 'text'"
  [formControl]="valueFormControl"
  (keydown)="onValueKeydown($event)"
  (blur)="onBlur()"
/>

@if (!nameFormControl.pristine) {
  @for (error of errorCodesOf(nameFormControl.errors); track error) {
    <p-message severity="error" icon="pi pi-times-circle">
      @switch (error) {
        @case ("required") {
          A name is required
        }
        @case ("duplicate") {
          An entry with this name already exists
        }
      }
    </p-message>
  }
}

@if (!valueFormControl.pristine) {
  @for (error of errorCodesOf(valueFormControl.errors); track error) {
    <p-message severity="error" icon="pi pi-times-circle">
      @switch (error) {
        @case ("required") {
          A name is required
        }
        @case ("duplicate") {
          An entry with this name already exists
        }
      }
    </p-message>
  }
}
