@if (loading()) {
  loading...
} @else if (error()) {
  Error initializing database: {{ error() }}
} @else {
  <nav>
    <app-entity-panel
      entityName="schema"
      [items]="schemas"
      (itemClick)="onSelectSchema($event)"
      (create)="onCreateSchema($event)"
      (delete)="onDeleteSchema($event)"
    ></app-entity-panel>

    <app-entity-panel
      entityName="enum"
      [items]="enums"
      (itemClick)="onSelectEnum($event)"
      (create)="onCreateEnum($event)"
      (delete)="onDeleteEnum($event)"
    ></app-entity-panel>

    <app-import></app-import>
  </nav>

  <div class="h-divider"></div>

  <router-outlet></router-outlet>
}

<p-toast position="top-right" life="5000"></p-toast>
