@import 'primeicons/primeicons.css';
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--p-text-color);
}

kbd {
  background: var(--p-zinc-50);
  color: var(--p-zinc-700);
  padding: 0 2px;
  border: 2px var(--p-zinc-500) solid;
  border-radius: 6px;
  display: inline-block;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.link-button {
  padding: 0 !important;
  font-weight: bold;
  &:not(:disabled):hover {
    text-decoration: underline;
    &.danger {
      color: var(--p-red-600);
    }
  }
  &:not(:disabled).danger {
    color: var(--p-red-500);
  }
}

button.unstyled,
a.unstyled {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  font: unset;
  color: unset;
  text-decoration: unset;

  &:not(:disabled) {
    cursor: pointer;
  }
}

//fix autocompletes in input groups
.p-inputgroup > p-auto-complete {
  display: flex;

  input {
    border-radius: 0;
    border-start-start-radius: var(--p-inputgroup-addon-border-radius);
    border-end-start-radius: var(--p-inputgroup-addon-border-radius);
  }
}
