@if (entry().metadata) {
  <div class="metadata">
    @if (entry().metadata!.deprecated) {
      <p-tag severity="danger" value="Deprecated"></p-tag>
    }

    <p>{{ entry().metadata!.description }}</p>
  </div>
}

<div class="info">
  <button class="unstyled name" (click)="rename.toggle($event)">
    {{ entry().name }}
  </button>
  <button class="unstyled value" (click)="revalue.toggle($event)">
    ={{ entry().value }}
  </button>

  <div class="h-divider"></div>

  <p-button
    link="true"
    class="entry-action"
    styleClass="link-button"
    size="small"
    (click)="onEditMetadata($event)"
    [class.force-show]="editingMetadata()"
    >Edit Metadata</p-button
  >

  <p-button
    link="true"
    class="entry-action"
    styleClass="link-button danger"
    size="small"
    (click)="onDeleteEntry()"
    >Delete</p-button
  >
</div>

<p-popover #rename>
  <app-rename-entry
    [existingEntryNames]="existingEntryNames()"
    (renameComplete)="onRenameEntry($event)"
  ></app-rename-entry>
</p-popover>

<p-popover #revalue>
  <app-revalue-entry
    [enumType]="enumType()"
    [existingEntryValues]="existingEntryValues()"
    (revalueComplete)="onUpdateValue($event)"
  ></app-revalue-entry>
</p-popover>

<p-popover #metadataEditor (onHide)="editingMetadata.set(false)">
  <app-metadata-editor
    [metadata]="entry().metadata"
    (metadataUpdated)="onMetadataUpdated($event)"
  ></app-metadata-editor>
</p-popover>
