:host {
  display: flex;
  flex-direction: column;
}

.info {
  display: inline-flex;
  gap: 8px;
  .name {
    color: var(--p-text-color);
  }

  .value {
    color: var(--p-text-muted-color);
  }

  .h-divider {
    width: 1px;
    background: var(--p-surface-300);
  }

  .entry-action,
  .h-divider {
    opacity: 0;
  }

  &:hover .entry-action,
  &:hover .h-divider {
    opacity: 100;
  }

  .entry-action.force-show {
    opacity: 100;
  }
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: start;
  padding-left: 16px;
  border-left: 2px var(--p-content-border-color) solid;
  p {
    margin: 0 0 8px 0;
    color: var(--p-text-muted-color);
  }
}
